body {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  padding: 100px 20px;
}

h1 {
  font-size: 60px;
  color: cyan;
}

.yt-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 25px;
  border: 2px solid red;
  color: white;
  text-decoration: none;
}
section {
  padding: 60px 20px;
}

iframe {
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 30px cyan;
}
