body {
  margin: 0;
  min-height: 100vh;

  background:
    url("images/galaxy.jpg") center / cover no-repeat,
    black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neon {
  font-size: 80px;
  color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 15px #00ffff,
    0 0 30px #00ffff,
    0 0 60px #00ffff;
  animation: pulse 2s infinite;
}

.subtitle {
  margin-top: 20px;
  color: white;
  opacity: 0.8;
}

/* Bouton YouTube RGB animé */
.yt-btn {
  margin-top: 30px;
  padding: 15px 35px;
  border-radius: 30px;
  border: 3px solid red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  animation: borderRGB 5s linear infinite;
}

.yt-btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 20px white;
}

/* Animation RGB bordure */
@keyframes borderRGB {
  0% { border-color: red; }
  20% { border-color: orange; }
  40% { border-color: yellow; }
  60% { border-color: green; }
  80% { border-color: blue; }
  100% { border-color: red; }
}

@keyframes pulse {
  0% {
    text-shadow:
      0 0 5px #00ffff,
      0 0 15px #00ffff,
      0 0 30px #00ffff;
  }
  50% {
    text-shadow:
      0 0 10px #ffffff,
      0 0 30px #00ffff,
      0 0 60px #00ffff;
  }
  100% {
    text-shadow:
      0 0 5px #00ffff,
      0 0 15px #00ffff,
      0 0 30px #00ffff;
  }
}




